* {
  font-family: 'Roboto', sans-serif;
}

html {
  font-family: sans-serif;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: calc(1.6rem * 1.5);
}

.tabs {
  width: 60rem;
  margin: 32px auto;
}

[role="tab"]:hover,
[role="tab"]:focus,
[role="tab"]:active {
  outline: 0;
  border-radius: 0;
  color: inherit;
}

[role="tabpanel"].is-hidden {
  display: none;
}

button {
  cursor: pointer;
}

.tab-container {
  border-radius: 4px;
  overflow: visible;
}

.tab-container:hover {
  box-shadow: 0 0 0 4px #B8C9D8;
}

.tab-container.focus {
  box-shadow: 0 0 0 4px #FFC300;
}

.buttons {
  display: flex;
  align-items: center;
}

.button {
  border: none;
  padding: 16px;
  font-size: 1.2rem;
  font-weight: 900;
  color: #0B75B7;
  background-color: white;
}

.button:hover,
.button:focus {
  color: #0B75B7;
}

.sub-button {
  display: none;
  font-weight: normal;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: none;
  background-color: #0000000C;
  margin-right: 16px;
}

.sub-button:hover,
.sub-button:focus {
  outline: none;
}

.sub-button:hover {
  box-shadow: 0 0 0 4px #B8C9D8;
}

.sub-button:focus {
  box-shadow: 0 0 0 4px #FFC300;
}


.tab-list {
  display: flex;
  align-items: stretch;
  gap: 16px;
  margin-bottom: 16px;
}

[aria-selected="true"] + .sub-button {
  display: block;
}

.underline {
  height: 4px;
  background-color: transparent;
  border-radius: 2px;
}

.active .underline {
  background-color: #0B75B7;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
